<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/style.css">

</head>
<body>
      {{>header}}
      <p>This site was created by berenikei. It uses data from mapbox.com and darksky.net.</p>
  <img class="portrait" src="./img/berenike.jpg" alt="">  
  {{>footer}}
</body>
</html>